version: "3"

services:
  db:
    image: postgres
    ports:
      - 5432:5432
    volumes:
      - ./data/postgresql:/var/lib/postgresql/data

  api:
    build: ./api/
    stdin_open: true
    volumes:
      - ./api/src:/app/src
      - ./api/app:/app/app
    ports:
      - 3030:3030
    depends_on:
      - db
    command:
      [
        "/app/wait-for-it.sh",
        "db:5432",
        "--",
        "stack",
        "build",
        "--exec",
        "todoapi",
      ]
    environment:
      - TPG_HOST=db
      - TPG_DB=postgres
      - TPG_USER=postgres
      - TPG_PASS=
      - PORT=3030

  client:
    build: ./client/
    ports:
      - 8000:8000
    volumes:
      - ./client/src:/app/src
